:root {
    /* Only keeping the variables that are actually used */
    --background: #fff;
    --text: #000;
    --text-sharp: #282a30;
    --text-light: #6b6f76;
    --text-lighter: #929cad;
    --accent: #6e79d6;
    --accent-light: #efeffe;
    --accent-transparent: rgba(113, 124, 225, 0.2);
    --accent-semi-transparent: rgba(113, 124, 225, 0.5);
    --accent-highlight: #717ce1;
    --text-on-accent: #fff;
    --border-input: #dfe1e4;
    --border-input-focused: #2161dc;
    --icon-color: #333333;
    --card-background: #ffffff;
    --card-shadow-color: hsla(0, 0%, 4%, 0.1);
    --card-border-color: hsla(0, 0%, 4%, 0.02);
  
    /* Keeping the base root styles */
    color: var(--text);
    font-family: Inter, Helvetica, Apple Color Emoji, Segoe UI Emoji,
      NotoColorEmoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji,
      EmojiSymbols, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background:#131415;
      --text: #fff;
      --text-sharp: #fff;
      --text-light: #8a8f98;
      --text-lighter: #757783;
      --accent: #7381ff;
      --accent-light: #1d1e33;
      --accent-transparent: rgba(115, 129, 255, 0.2);
      --accent-semi-transparent: rgba(115, 129, 255, 0.5);
      --accent-highlight: #8995ff;
      --text-on-accent: #fff;
      --border-input: #3c3f44;
      --border-input-focused: #6499ff;
      --icon-color: #ffffff;
      --card-background: #1a1b1d;
      --card-shadow-color: hsla(0, 0%, 0%, 0.3);
      --card-border-color: hsla(0, 0%, 100%, 0.05);
    }
  }
  
  a.invisible {
    display: flex;
    flex-direction: row;
  }
  
  a.invisible:link {
    color: var(--text);
    text-decoration: none;
  }
  
  a.invisible:visited {
    color: var(--text);
    text-decoration: none;
  }
  
  a.invisible:hover {
    color: var(--text);
    text-decoration: none;
  }
  
  a.invisible:active {
    color: var(--text);
    text-decoration: none;
  }
  
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  
    text-decoration: none;
    color: initial;
    display: flex;
  }
  
  a.button.round {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    position: relative;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 999px;
    width: fit-content;
    display: flex;
    border: none;
    font-family: inherit;
    font-size: unset;
    line-height: unset;
    background-color: var(--card-background);
    cursor: pointer;
    box-shadow: 0 0.5em 1em -0.125em var(--card-shadow-color),
      0 0 0 1px var(--card-shadow-color);
  }
  
  body {
    color: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--background);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-sharp);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  hr {
    border: none;
    margin: 13px 0px;
    background-color: var(--text-lighter) !important;
    height: 1px !important;
    opacity: 0.3;
    width: 75%;
  }
  
  html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    /* overflow-x: unset;
    overflow-y: unset; */
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: Inter;
    /* font-family:Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif; */
    background-color: var(--background);
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
  }
  
  p {
    width: 700px;
    max-width: min(100%, 700px);
    margin: 0;
  }
  
  .article-title {
    color: var(--text-light);
    font-size: inherit;
    width: 100%;
  }
  
  .card {
      background-color: var(--card-background);
      border-radius: 0.75rem;
      box-shadow: 0 0.5em 1em -0.125em var(--card-shadow-color), 
        0 0 0 1px var(--card-border-color);
      color: inherit;
      position: relative;
      width: 700px;
      padding: 25px 20px;
      margin: 1.5em 0;
      display: inline-block;
      flex-direction: row;
    }
  
  .card:hover {
    margin-top: 1em;
    margin-bottom: 2em;
    transition: margin-top 0.5s, margin-bottom 0.5s;
    -moz-transition: margin-top 0.5s, margin-bottom 0.5s; /* Firefox 4 */
    -webkit-transition: margin 0.5s, margin-bottom 0.5s; /* Safari and Chrome */
    -o-transition: margin 0.5s, margin-bottom 0.5s; /* Opera */
  }
  
  .column {
    width: 50%;
    max-width: 50%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  
  .content {
    width: 700px;
    max-width: min(100%, 700px);
    align-self: center;
  }
  
  .content.preface {
    text-align: left;
  }
  
  .content.main {
    text-align: left;
  }
  
  .cover {
    width: 100%;
    margin-right: 20px;
    object-fit: contain;
    border-radius: 0.5rem;
  }
  
  .footer {
    /* This is a container */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .logo {
    width: 24px;
    height: 24px;
  }
  
  .metadata {
    font-size: 1em;
    color: var(--text-light);
    width: 700px;
    max-width: min(100%, 700px);
    /* display: flex;
      justify-content: center; */
    /* align-self:self-start; */
  }
  
  p {
    text-align: left;
  }
  
  .spacer {
    height: 70px;
  }
  
  .subheading {
    color: var(--text-sharp);
    font-weight: bold;
    font-size: 56px;
    letter-spacing: -2.5px;
    padding: 28px 0px;
    margin: 32px 0px;
    /* position: -webkit-sticky;  Safari */
    /* position: sticky; */
    top: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
  }
  
  .subtitle {
    color: var(--text-light);
    font-size: 24px;
    line-height: 1.4;
  }
  
  .title {
    color: var(--text-sharp);
    font-size: 80px;
    font-weight: 800;
    line-height: 1.125;
    letter-spacing: -2.5px;
    width: 700px;
    max-width: min(100%, 700px);
    margin-bottom: 25px;
    /* display: flex; */
    /* justify-content: center; */
  }
  
  .tooltip {
    visibility: hidden;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /* .metadata:hover {
      text-decoration: underline;
  } */
  